# Node.js dependencies
node_modules/
npm-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Expo specific
.expo/
.expo-shared/

# Babel cache
babel.config.js
metro.config.js

# TypeScript build files
*.tsbuildinfo

# Logs & Debugging
*.log
*.log.*
*.cache
*.DS_Store

# Environment variables
.env*
.env.local
.env.development
.env.production
.env.test

# iOS/Android build files (si estás ejectuando `expo prebuild`)
android/
ios/

# VSCode settings
.vscode/
